/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.8s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




.first	 {
  width: 100px;
  height: 100px;
  background:  inherit;
  position: relative;
  -webkit-animation: mymove 15s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 15s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {left: 0%;}
  to {left: 100%;}
}

@keyframes mymove {
  from {left: 0%;}
  to {left: 100%;}
}

.shown, .shown1, .shown2 {
	display: none;
}

.shown3, .shown4, .shown5 {
	display: none;
}

.shown6, .shown7, .shown8 {
	display: none;
}

.container-fluid {
	background-color: rgba(255, 255, 255, 0.86);
}

.col-md-4 {
	margin-bottom: 10%;
}

.cf1 {
	margin-bottom: 50%;
}

.col-md-4 .card .bg-tp-card {
	background: transparent;
}

.card h2 {
	margin-top: 15%;
}

.c1 {
	margin-top: 10%;
}

.card-img-overlay h4, .card-img-overlay p, .btn-outline-warning {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.carousel-caption h3, .carousel-caption p {
	color: white;
  text-shadow: 2px 2px 4px #000000;
}

div.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
	